body,
html {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: white;
    width: 100%;
    padding: 0 20px; /* Adds spacing */
}

.colmar {
    color: black;
    font-size: 32px;
}

.academy {
    color: grey;
    font-size: 32px;
}

.navbar {
    display: flex;
    gap: 20px; /* Space between the items */
    margin-left: auto; /* Pushes it to the right */
}

.navbar h2 {
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
}

.navbar h2:hover {
    color: grey; /* Optional hover effect */
}
 .banner {
    width: 60%;
    max-width: 100%;
    height:auto;
 }

 
main {
    display: flex;
    background-color: lightgray;
    padding: 32px;
    width: 100%;
    overflow-x: hidden; /* Hides horizontal overflow */
}
    

.container {
    justify-content: center;
    align-items: center;
    padding: 0 24px;
}

nav img {
    max-width: 100%;
    height: auto;
}

.learn {
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(53, 53, 53);
}

.paragraph {
    font-size: 25px;
    color: rgb(53, 53, 53);
}